html, body {
height: 100%;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  max-width: 1200px;
}

.neoteric-font {
  font-family: NEOTERIC;
  font-size: 40px;
}

#back {
    background-color:#1D1E1D;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000000;
}

@font-face {
    font-family: NEOTERIC;
    src: url(..\fonts\NEOTERIC.ttf);
}

/* navbar */
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    font-size: 22px;
    text-align: 
}

.navbar {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.navbar.scrolled {
    background: rgb(0, 0, 0);
}

/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}

.navbar-fixed-top {
    height: 80px;
    margin-bottom: 0px;
}

.nav.navbar-nav.navbar-right li a {
    color: black;
    text-align: center
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height:80px;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 5px;
    top: 0;
    text-align: center;
    margin: auto;
}

#topLogoBlack {
  position: absolute;
  z-index:10000;
}

#topLogoWhite {
  position: absolute;
  z-index: 5000;
}

#text-title {
  font-family: NEOTERIC;
  font-size: 110px;
  color: #5D0626;
}

#text-subtitle {
  font-family: NEOTERIC;
  font-size: 75px;
  color: black;
}

.inside-first {
  padding: 200px;
}

#text-const {
  font-family: NEOTERIC;
  font-size: 40px;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#text-subtitles {
  font-family: NEOTERIC;
  font-size: 40px;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#top {
  /*background-image: url(../images/background3.png);*/
  margin: 0;
  padding: 0;
  height:100%;
  position: relative;

}

#second-top {
  margin: 0;
  padding: 0;
  height: 40%;
  position: relative;
}

#third-top {
  margin: 0;
  padding: 0;
  height: 25%;
  position: relative;
}

.vcenter{
  position:relative;
  top:50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

#first-part{
  background-color: white;
  height: 60%;
}

#second-part{
  background-color:white;
  height: 60%;
}

#aggiemun {
  height: 60%;
  padding: 6em;
}
